////////////////////////////////////////////////////////////////////////////////
// BREAKPOINTS
////////////////////////////////////////////////////////////////////////////////

$breakpoints: (
  "": 0px,
  "-xs": 480px,
  "-s": 600px,
  "-m": 768px,
  "-l": 960px,
  "-xl": 1200px,
  "-xxl": 1360px,
);

////////////////////////////////////////////////////////////////////////////////
// COLUMNS
////////////////////////////////////////////////////////////////////////////////

$columns: 12;

$container-max: 1220px;

////////////////////////////////////////////////////////////////////////////////
// PADDING
//   pad-[value]
//   pad-h-[value]
//   pad-v-[value]
////////////////////////////////////////////////////////////////////////////////

$padding: (0, 5, 10, 15, 20, 25, 30, 40, 50);

////////////////////////////////////////////////////////////////////////////////
// MARGIN
//   mar-[value]
//   mar-h-[value]
//   mar-v-[value]
////////////////////////////////////////////////////////////////////////////////

$margins: (0, 5, 10, 15, 20, 25);

////////////////////////////////////////////////////////////////////////////////
// Z-INDEX
//   z-[value]
////////////////////////////////////////////////////////////////////////////////

$z-indexes: (0, 1, 2, 3, 4, 5);

////////////////////////////////////////////////////////////////////////////////
// WIDTH
//   w-[value]
////////////////////////////////////////////////////////////////////////////////

$width-increments: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

$size-heights: (0, 20, 40, 60, 80, 100);


$font-heading: "Lato", sans-serif;
$font-body: "Lato", sans-serif;
$font-code: monospace;

$font-family: $font-body;
$font-size: 18px;
$font-weight: 400;

$line-height: 28px;


$img: "/img/";


$colors: (
   // base
   "black": #000,
   "white": #fff,
   // grey
   "grey-xxl": #F7F7F7,
   "grey-xl": #ececec,
   "grey-l": #CCC,
   "grey-m": #999,
   "grey-d": #666,
   "grey-xd": #333,
   "grey-xxd": #232323,
   "grey-xxxd": #171717,
   // cyan
   "cyan-bright": #04fff2,
   // red
   "red-b": red,
   // blue
   "blue-l": #1b9dbb,
   "blue-m": #0053a9,
   "blue-d": #002e5e,
   "blue-xd": #07223c,
   //"blue-bright": #00e3ff,
   //"blue-medium": #00708e,
   //"blue-dark": #003c4e,
   // green
   //"green-bright": #05c63a,
   //"green-dark": #00232b,
   //"green-xdark": #001419
);