/*------------------------------------------------------------------------------
 paths
------------------------------------------------------------------------------*/

$img: "/img/";

/*------------------------------------------------------------------------------
 breakpoints
------------------------------------------------------------------------------*/

$breakpoints: (
    "": 0px,
    "-xs": 480px,
    "-s": 600px,
    "-m": 768px,
    "-l": 960px,
    "-xl": 1200px,
    "-xxl": 1360px
);

/*------------------------------------------------------------------------------
 colours
------------------------------------------------------------------------------*/

$black: #000;
$white: #fff;

$grey-xxl: #e8e8e8;
$grey-xl: #e8e8e8;
$grey-l: #ccc;
$grey-m: #666;
$grey-d: #333;
$grey-xd: #111;
$grey-xxd: #282828;

/*------------------------------------------------------------------------------
 columns
------------------------------------------------------------------------------*/

$columns: 12;

/*------------------------------------------------------------------------------
 fonts
------------------------------------------------------------------------------*/

$heading-font: "Helvetica", sans-serif;
$body-font: "Helvetica", sans-serif;
$code-font: monospace;

$font-size: 14px;
$line-height: 18px;

/*------------------------------------------------------------------------------
 margin
------------------------------------------------------------------------------*/

$margin-increments: (0, 5, 10, 15, 20, 25);

/*------------------------------------------------------------------------------
 padding
------------------------------------------------------------------------------*/

$padding-increments: (0, 5, 10, 15, 20, 25);

/*------------------------------------------------------------------------------
 vertical heights
------------------------------------------------------------------------------*/

$height-increments: (0, 20, 40, 60, 80, 100);

/*------------------------------------------------------------------------------
 width
------------------------------------------------------------------------------*/

$width-increments: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
