/*------------------------------------------------------------------------------
 margins
------------------------------------------------------------------------------*/

@each $increment in $margin-increments {
    .mar-#{$increment} {
        margin: unquote($increment + "px");
    }

    .mar-h-#{$increment} {
        margin-left: unquote($increment + "px");
        margin-right: unquote($increment + "px");
    }

    .mar-v-#{$increment} {
        margin-bottom: unquote($increment + "px");
        margin-top: unquote($increment + "px");
    }
}
