/*------------------------------------------------------------------------------
 padding
------------------------------------------------------------------------------*/

@each $increment in $padding-increments {
    .pad-#{$increment} {
        padding: unquote($increment + "px");
    }

    .pad-h-#{$increment} {
        padding-left: unquote($increment + "px");
        padding-right: unquote($increment + "px");
    }

    .pad-v-#{$increment} {
        padding-bottom: unquote($increment + "px");
        padding-top: unquote($increment + "px");
    }
}
