/*------------------------------------------------------------------------------
 vertical heights
------------------------------------------------------------------------------*/

$heights: (
    "xs": 20,
    "s": 40,
    "m": 60,
    "l": 80,
    "xl": 100
);

@each $size, $height in $heights {
    $value: unquote($height + "vh");

    .vh-#{$size} {
        height: $value;
    }
}
