/*------------------------------------------------------------------------------
 button mixin
------------------------------------------------------------------------------*/

@mixin button {
    background: $button-background;
    border: $button-border;
    color: $button-color;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    height: $button-height;
    letter-spacing: 1px;
    line-height: $button-line-height;
    margin: $button-margin;
    outline: none;
    padding: $button-padding;
    text-align: center;
    text-decoration: none;
    width: $button-width;
    -webkit-appearance: button;

    @include border-radius($button-radius);
}
