.flex-items-c {
    align-items: center;
    justify-content: center;
}

.flex-items-h {
    justify-content: center;
}

.flex-items-v {
    align-items: center;
}

.flex-items-end {
    justify-content: flex-end;
}
