.font {
  &-body {
    font-family: $font-body;
  }
  &-heading {
    font-family: $font-heading;
  }
  &-code {
    font-family: $font-code;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-italic {
    font-style: italic;
  }
}

@each $weight in $font-weights {
  .font-#{$weight} {
    font-weight: $weight;
  }
}
