a.button {
    display: inline-block;
}

button, .button {
    @include button;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}

.button {
    @include button;
    background: #000;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    text-transform: uppercase;
    @include border-radius(20px);

    &:disabled,
    &[disabled] {
        cursor: not-allowed !important;
        opacity: 0.6;
    }

    &.inverse {
        background: transparent;
        background: rgba(255,255,255,0);
        line-height: 28px;
    }
}

.button-group {
    padding-top: 10px;
}

/*------------------------------------------------------------------------------
 input submit reset
------------------------------------------------------------------------------*/

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}


@mixin button {
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    font-family: $font-body;
    letter-spacing: 1px;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    @include border-radius(4px);
    @include transition(all, 200ms, ease-in-out);
}

.button {
    @include button;
}

.button {
    &[disabled] {
        opacity: 0.6;

        &:not(.button-loading) {
            cursor: not-allowed;
        }
    }
    &-loading {
        cursor: wait;
    }
}
