/*------------------------------------------------------------------------------
 body style reset
------------------------------------------------------------------------------*/

body {
    background-color: $white;
    font-size: $font-size;
    height: 100%;
    line-height: $line-height;
    position: relative;
    text-align: center;
    z-index: 0;
    width: 100%;
}
