/*------------------------------------------------------------------------------
 form reset
------------------------------------------------------------------------------*/

form {
    margin: 0;
    padding: 0;
    text-align: left;
}
