/*------------------------------------------------------------------------------
 paragraph style reset
------------------------------------------------------------------------------*/

p {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    padding-bottom: 5px;
}
