/*------------------------------------------------------------------------------
 body style reset
------------------------------------------------------------------------------*/

body {
    background-color: white;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
    width: 100%;
}
