/*------------------------------------------------------------------------------
 input checkbox reset
------------------------------------------------------------------------------*/

.input[type="checkbox"] {
    cursor: pointer;
    display: inline-block;
    height: 26px;
    margin-right: 10px;
    padding: 0 0 0 0;
    vertical-align: top;
    width: 26px;

    &:checked {
        line-height: 24px;
        text-align: center;

        &:before {
            content: "\002714";
        }
    }
}
