a.button {
    display: inline-block;
}

button, .button {
    @include button;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}

.button {
    @include button;
    background: color('blue-medium');
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    text-transform: uppercase;
    @include border-radius(20px);

    &:disabled,
    &[disabled] {
        cursor: not-allowed !important;
        opacity: 0.6;
    }

    &.inverse {
        background: transparent;
        background: rgba(255,255,255,0);
        line-height: 28px;
    }

    &-blue-bright {
        &.inverse {
            border: 1px solid color('blue-bright');
            color: color('blue-bright');
    
            &:hover {
                border-color: color('white');
                color: color('white');
            }
        }
    }

    &-cyan-bright {
        &.inverse {
            border: 1px solid color('cyan-bright');
            color: color('cyan-bright');
    
            &:hover {
                border-color: color('white');
                color: color('white');
            }
        }
    }
}

.button-group {
    padding-top: 10px;
}

/*------------------------------------------------------------------------------
 input submit reset
------------------------------------------------------------------------------*/

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}


@mixin button {
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    font-family: $font-body;
    letter-spacing: 1px;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    @include border-radius(4px);
    @include transition(all, 200ms, ease-in-out);
}

.button {
    @include button;
}

.button {
    &[disabled] {
        opacity: 0.6;

        &:not(.button-loading) {
            cursor: not-allowed;
        }
    }
    &-loading {
        cursor: wait;
    }
}

.theme {
    &-blue-m {
        border: 1px solid color('blue-m');
        @include color('white');
        @include bg-color('blue-m');
    
        &:hover {
            border: 1px solid color('blue-m');
            @include color('blue-m');
            @include bg-color('white');
        }
    }
    &-blue-d {
        border: 1px solid color('blue-d');
        @include color('white');
        @include bg-color('blue-d');
    
        &:hover {
            border: 1px solid color('blue-d');
            @include color('blue-d');
            @include bg-color('white');
        }
    }
    &-white {
        background-color: transparent;
        border: 1px solid color('white');
        @include color('white');

        &:hover {
            @include color('blue-d');
            @include bg-color('white');
        }
    }
    &-blue-d-outline {
        border: 1px solid color('blue-d');
        @include color('blue-d');
        @include bg-color('white');
    
        &:hover {
            @include color('white');
            @include bg-color('blue-d');
        }
    }
}
