////////////////////////////////////////////////////////////////////////////////
// GRID
////////////////////////////////////////////////////////////////////////////////

$breakpoints: (
  "": 0px,
  "-xs": 480px,
  "-s": 600px,
  "-m": 768px,
  "-l": 960px,
  "-xl": 1200px,
  "-xxl": 1360px,
);

$columns: 12;

$container-max: 1220px;

////////////////////////////////////////////////////////////////////////////////
// FONT
////////////////////////////////////////////////////////////////////////////////

$font-heading: "Lato", sans-serif;
$font-body: "Lato", sans-serif;
$font-code: monospace;

$font-family: $font-body;
$font-size: 18px;
$font-weight: 400;
$line-height: 28px;

$font-weights: (300, 400, 500, 600, 700);

////////////////////////////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////////////////////////////

$colors: (
   "black": #000,
   "white": #fff,
   "grey-xxl": #F7F7F7,
   "grey-xl": #ececec,
   "grey-l": #CCC,
   "grey-m": #999,
   "grey-d": #666,
   "grey-xd": #333,
   "grey-xxd": #232323,
   "grey-xxxd": #171717,
);

////////////////////////////////////////////////////////////////////////////////
// IMAGES
////////////////////////////////////////////////////////////////////////////////

$img: "/img/";

////////////////////////////////////////////////////////////////////////////////
// BOX
////////////////////////////////////////////////////////////////////////////////

$padding: (0, 5, 10, 15, 20, 25, 30, 40, 50);

$margins: (0, 5, 10, 15, 20, 25);

$widths: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

$heights: (0, 20, 40, 60, 80, 100);

////////////////////////////////////////////////////////////////////////////////
// POSITION
////////////////////////////////////////////////////////////////////////////////

$z-indexes: (0, 1, 2, 3, 4, 5);