select {
    @include input;
    background: transparent;
    border: 0px;
    color: color('blue-medium');
    border-bottom: 1px solid color("black");
    padding-left: 0;
}

.input-select {
    @include input;
}

/*------------------------------------------------------------------------------
 select reset
------------------------------------------------------------------------------*/

select {
    @include input;
}
