@mixin input {
    background-color: #f7f7f7;
    border: 1px solid #CCC;
    color: #000;
    display: block;
    font-family: $body-font;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px 0;
    max-width: 400px;
    min-height: 40px;
    outline: none;
    padding: 10px 15px;
    text-align: left;
    width: 100%;

    @include apperance;
    @include border-radius(4px);
    @include transition(background-color, 500ms, ease-in-out);

    &:focus {
        outline: none;
    }

    &:disabled,
    &:readonly {
        background-color: #FFF;
        border: 1px solid #CCC;
        cursor: not-allowed;
        color: #000;
    }
}
